body {
  font-family: 'Montserrat', sans-serif;
}

/* Styles généraux */
.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}


/* Options buttons */
.options-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
  width: 100%;
  height: 58vh;
}

.options-button {
  padding: 20px 30px;
  font-size: 20px;
  height: 250px;
  width: 250px;
  border: none;
  border-radius: 10px;
  background-color: #abece0b4;
  color: rgb(40, 35, 35);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.options-button:hover {
  background-color: #007960;
  transform: scale(1.05);
}

